.button-primary {
    margin: 15px 0;
    padding: 10px 40px;
    background: #3f72af;
    color: #f9f7f7;
    font-weight: 700;
    border: 1px transparent;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    cursor: pointer;
  }
  
  .previous {
    margin-right: 20px;
  }
  
  .next {
    margin-left: 20px;
  }
  