li {
  margin: 5px 0;
}

.day-name {
  background: #eee;
  font-weight: bold;
  margin-bottom: 10px;
}

.first-day {
  grid-column-start: 5;
}

.current-day {
  border: 1px solid;
  border-radius: 50%;
  margin: 3px 16px;
  background: #92a9bd;
  color: #f9f7f7;
  font-weight: 600;
}
